<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout">

<div layout:fragment="content" class="admin-main layui-anim layui-anim-upbit" style="margin: 15px;">

    <div class="admin-main layui-anim layui-anim-upbit">
        <blockquote class="layui-elem-quote">

            <div class="layui-btn-group">
                <button type="button" title="添加" class="layui-btn" th:attr="data-tab-href=@{'/product/save'}">
                    <i class="layui-icon">&#xe687;</i>
                    <a href="/product/save">添加</a>
                </button>
            </div>
            <button type="button" style="visibility:hidden;" class="layui-btn layui-btn-small" id="getAll">
                <i class="fa fa-plus" aria-hidden="true"></i> 审核
            </button>

            <form class="layui-form" style="float:right;" action="/product/findByProductName">

                <div class="layui-form-item" style="margin:0;">

                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" placeholder="关键字……" th:value="${title}" autocomplete="off"
                               class="layui-input"/>
                    </div>
                    <div class="layui-form-mid layui-word-aux" style="padding:0;">
                        <button lay-filter="search" class="layui-btn" lay-submit="lay-submit">
                            <i class="layui-icon">&#xe701;</i> 查询
                        </button>
                    </div>

                </div>
            </form>
        </blockquote>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th>商品名字</th>
                    <th>商品分类</th>
                    <th>商品单价</th>
                    <th>商品原价</th>
                    <th>库存量</th>
                    <th>库存剩余量</th>
                    <th>是否配送</th>
                    <th>上架时间</th>
                    <th>更新时间</th>
                    <th>能否自提</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="content">
                <th:block th:each="productList : ${productList}">
                    <tr>
                        <td th:text="${productList.title}"></td>
                        <td th:text="${productList.productType.typeTitle}"></td>
                        <td th:text="${productList.price}"></td>
                        <td th:text="${productList.originalCost}"></td>
                        <td th:text="${productList.total}"></td>
                        <td th:text="${productInventory}"></td>
                        <td th:text="${productList.distribution}"></td>
                        <td th:text="${productList.createDate}"></td>
                        <td th:text="${productList.updateDate}"></td>
                        <td th:text="${productList.extraction}"></td>
                        <td>
                            <button type="button" th:attr="data-method='ifpass',data-id=${productList.id}"
                                    class="layui-btn layui-btn-mini layui-btn-normal">
                                <i class="layui-icon">&#xe65e;</i>
                                审核
                            </button>
                            <button type="button" th:attr="data-method='open',data-id=${productList.id}"
                                    class="layui-btn layui-btn-mini layui-btn-normal">
                                <i class="layui-icon">&#xe776;</i>
                                弹窗
                            </button>

                            <button class="layui-btn layui-btn-mini layui-btn-normal">
                                <i class="layui-icon">&#xe691;</i>
                                <a th:href="@{'/product/index/'+${productList.id}}">编辑</a>
                            </button>

                            <button type="button" th:attr="data-method='delete',data-id=${productList.id}"
                                    class="layui-btn layui-btn-mini layui-btn-normal layui-btn-danger">
                                <i class="layui-icon">&#xe7ea;</i>
                                <!--<a th:href="@{'/product/delete/'+${productList.id}}"> 删除</a>-->
                                删除
                            </button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <!-- <div th:replace="comm/macros :: pageAdminNav(${productList})"></div>-->
    </div>

</div>


<th:block layout:fragment="script">
    <script th:inline="javascript">

        TX.INIT(function () {

            $("button[data-method]").click(function () {

                var id = $(this).attr("data-id");
                var method = $(this).attr("data-method");

                if (method == "open") {
                    window.TX.TEMP.LAYERINDEX = window.layer.open({
                        title: "",
                        type: 2,
                        content: "/admin/tproduct/" + id + "?&" + Math.random(),
                        area: ["650px", "330px"]
                    });
                }

                if (method == "ifpass") {
                    layer.confirm('确定审核该信息吗?', {icon: 3}, function (index) {
                        layer.close(index);
                        modifyStatus(method, id);
                    });
                }

                if (method == "delete") {

                    layer.confirm('确定删除该信息吗?', {icon: 3}, function (index) {
                        layer.close(index);
                        modifyStatus(method, id);
                    });
                }

            });


        });

        function modifyStatus(method, id) {

            TX.CORE.p({
                data: {method: method, id: id},
                url: "/product/delete/",
                success: function (resp) {
                    if (resp.success) {
                        TX.MSG.msg(resp.msg, {time: 1500}, function () {
                            location.href = location.href;
                        });
                    } else {
                        TX.MSG.msg(resp.msg, {icon: 2});
                    }
                }
            });
        }

        /*  function delete(id){
              $.ajax({
                  type : "POST",
                  url : "product/delete",
                  dataType : 'text',
                  contentType: "application/json",
                  data : JsonData,
                  success : function(data) {
                      alert(data);
                  }
              });
          }*/


    </script>
</th:block>

</html>