<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout">

<div layout:fragment="content" class="admin-main layui-anim layui-anim-upbit" style="margin: 15px;">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend th:text="|${info.} 信息编辑|"></legend>
    </fieldset>

    <form class="layui-form" method="post" action="">


        <div class="layui-form-item">
            <label class="layui-form-label">productId</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="productId" th:value="${info.productId}"
                       placeholder="请输入productId"
                       title="productId"/>
            </div>
            <div class="layui-form-mid layui-word-aux">productId提示</div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">loungehallId</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="loungehallId" th:value="${info.loungehallId}"
                       placeholder="请输入loungehallId"
                       title="loungehallId"/>
            </div>
            <div class="layui-form-mid layui-word-aux">loungehallId提示</div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="">
                    <i class="layui-icon">&#xea97;</i>
                    保存
                </button>
                <button type="button" class="layui-btn" id="btnClose">
                    <i class="layui-icon">&#xe68d;</i>
                    关闭
                </button>
            </div>
        </div>

    </form>


</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        TX.INIT(function (layui) {

            var form = layui.form;
            form.on("submit", function (data) {

                TX.CORE.p({
                    data: $("form.layui-form").serialize(),
                    success: function (resp) {
                        if (resp.success) {
                            TX.MSG.msg("保存成功", {time: 1500}, function () {
                                parent.tab.openTab("/admin/rproductextraction/index", {refershType: "refersh"});
                            });
                        } else {
                            TX.MSG.msg(resp.msg, {icon: 2});
                        }
                    }
                });

            });


            $("#btnClose").click(function () {
                if (parent.window.TX.TEMP.LAYERINDEX) {
                    parent.window.layer.close(parent.window.TX.TEMP.LAYERINDEX);
                } else {
                    var currentTabId = parent.tab.getCurrentTabId();
                    parent.tab.deleteTab(currentTabId);
                }
            });

        });
    </script>
</th:block>